doctype html
html
   head
      title Exploring the Pug template
      link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk", crossorigin="anonymous")
      link(href="styles/custom.css", rel="stylesheet")
   body
      .container
         .row.detailsBio
            .col-4.details
               .col-12
                  h1 Professional Details
               .col-12
                  img.img-fluid(src='images/headshot.jpg') 
               .col-12
                  .col-4.detailsText
                     p Name
                     br
                     p Location 
                     br
                     p Degree
                  .col-8.detailsText
                     p Alsidneio Bell
                     br
                     p Auburn, Wa
                     br
                     p B.S. Electrical Engineering
            .col-8.Bio
         footer
            .row
               .col-12.footer
                  p.footerText © Copyright 2019 BennuTechCo. All right reserved.